@CHARSET "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
}
div#row{
    width:300px;
    height:100px;
    background-color:#F3EF9B;
    position:absolute;
 	cursor:pointer;  
    padding:10px;
    margin:10px;
    font-family: Georgia, serif;
}

body {
	font-size: 12.5pt;
	color: #5C5B5B;
	line-height: 1.75em;
	background: #E0DCDC ;
}

body,input {
	font-family: Georgia, serif;
}




h1,h2,h3,h4 {
	font-weight: normal;
	letter-spacing: -1px;
}





ul {
	margin-bottom: 0em;
}

ul h4 {
	margin-bottom: 0em;
}

.box {
	overflow: hidden;
	margin-bottom: 1em;
}


#content {
	width: 665px;
	float: left;
	padding: 0;
}

#content-box1 {
	width: 320px;
	float: left;
}

#content-box2 {
	margin: 0 0 0 345px;
	width: 320px;
}



#header {
	height: 75px;
	position: relative;
	background: #0DADFF;
	padding: 45px;
	color: #FFFFFF;
	width: 92.5%;
	border: solid 1px #7E7E7E;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	overflow: hidden;
}

#logo {
	line-height: 160px;
	height: 160px;
	padding: 5px 0 0 0;
	position: absolute;
	top: 0;
	left: 45px;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
	text-shadow: 0 1px 1px #3E3E3E;
}

#logo h1 {
	font-size: 3.25em;
}

#slogan {
	line-height: 160px;
	height: 160px;
	padding: 0 0 0 0;
	position: absolute;
	right: 0px;
	top: 0;
}

#slogan h2 {
	color: #BEBEBE;
	font-size: 1.25em;
	text-shadow: 0 1px 1px #3E3E3E;
}
#menu2 {
	padding: 0 45px 0 45px;
	position: relative;
	background: white;
	margin: 0 0 0 0;
	height: 60px;
	line-height: 60px;
	width: 1110px;
	border-top: solid 1px #5AD7D7;
	text-shadow: 0 1px 1px #007D7D;
}

#menu {
	padding: 0 45px 0 45px;
	position: relative;
	background:   white  ;
	margin: 0 0 0 0;
	height: 60px;
	line-height: 60px;
	width: 1112px;
	border-top: solid 1px #5AD7D7;
	text-shadow: 0 1px 1px #007D7D;
}


#menu a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.9em;
	letter-spacing: -1px;
}

#menu ul {
	list-style: none;
}

#menu2 ul {
	list-style: none;
}

#menu ul li {
	padding: 0 50px 0 0px;
	display: inline;
	
}

#menu2 ul li {
	padding: 0 60px 0 30px;
	display: inline;
}


#page {
	padding: 15px 15px 15px 15px;
	position: relative;
	width: 1114px;
	margin: 0;
}

#page .section-list {
	list-style: none;
	padding-left: 0;
}

#page .section-list li {
	clear: both;
	padding: 0px 0 0px 0;
}

#page ul {
	list-style: none;
}

#page ul li {
	border-top: solid 1px #D4D4D4;
	padding: 0px 0 0px 0;
}

#page ul li.first {
	padding-top: 0;
	border-top: 0;
}

#page-bottom {
	position: relative;
	margin: 0;
	background:#0DADFF ;
	border: solid 1px #7E7E7E;
	width: 1110px;
	padding: 45px 45px 0 45px;
	color: #DCDCDC;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.admin
{
	text-shadow: 0 1px 1px #007D7D;
}


#splash {
	margin: 0 0 0 0;
	height: 250px;
	position: relative;
	padding: 45px 45px 10px 45px;
	width: 890px;
}

#splash .pic {
	padding: 9px;
}

#wrapper {
	position: relative;
	width: 1200px;
	margin: 20px auto 0 auto;
	background: #FFFFFF;
}